#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; /* quitamos padding global que empuja el contenido */
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
